<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<footer class="bg-light" id="footer" th:fragment="pageFooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                A thank you for the image showing low storage
            </div>

            <div class="col-md-6">
                <a href="https://www.howtogeek.com/349523/how-to-disable-the-low-disk-space-warning-on-windows/">How-To Geek</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                Another thank you for the peepo
            </div>

            <div class="col-md-6">
                <a href="https://www.frankerfacez.com/emoticons/">FrankerFaceZ</a>
            </div>
        </div>
    </div>
</footer>

</html>